In [ ]:
# White space formatting 
for i in [1,2,3,4,5]:
    print(i)
    for j in [1,2,3,4,5]:
        print(j)
        print(i + j)
    print(i)
print("Done Looping")

In [11]:
import re 
my_regrex = re.compile("[0-9]+",re.I)

In [12]:
my_regrex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [13]:
from collections import defaultdict, Counter
look_up = defaultdict(list)
my_counter = Counter()

In [14]:
def double(x):
    return x*2

In [20]:

def apply_to_one(f):
    return f(1)
y = apply_to_one(lambda x: x + 4)
print(y)

5

In [21]:
tab_string = "\t"
len(tab_string)

1

In [22]:
not_tab_stuff = r"\t"

In [23]:
not_tab_stuff

'\\t'

In [24]:
first_name = "Alessio"
last_name = "grus"
full_name1 = first_name + " " + last_name
full_name2 = "{0} {1}".format(first_name, last_name)

In [25]:
full_name2

'Alessio grus'

In [26]:
# using the f-string 
full_name3 = f"{first_name} {last_name}"

In [27]:
full_name3

'Alessio grus'

In [28]:
#exceptions 
try:
    print(0/0)
except ZeroDivisionError:
    print("Can not divide by zero")

Can not divide by zero

In [37]:
#lists in python
integer_list = [1,2,3]
heterogenous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogenous_list, [0,1,3,4]]

In [38]:
list_of_lists

[[1, 2, 3], ['string', 0.1, True], [0, 1, 3, 4]]

In [39]:
for i in list_of_lists:
    print(i)

[1, 2, 3]
['string', 0.1, True]
[0, 1, 3, 4]

In [40]:
#length of the list 
list_length = len(integer_list)
list_sum = sum(integer_list)

In [41]:
x = [1,2,3,4,5,6,7,8,9,0]
first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
without_first_and_last = x[1:-1]
copy_of_x = x[:]

In [42]:
x = [1,2,3]
x.extend([4,5,6])

In [43]:
x

[1, 2, 3, 4, 5, 6]

In [44]:
x = [1,2,3]
x.append(0)

In [45]:
x

[1, 2, 3, 0]

In [46]:
y = x[-1]
z = len(x)

In [47]:
z

4

In [48]:
x, y = [1,2]

In [49]:
y

2

In [50]:
#tuples 
def sum_and_product(x,y):
    return (x + y), (x * y)
sp = sum_and_product(2,3)
s, p = sum_and_product(5,10)

In [51]:
sp

(5, 6)

In [52]:
s,p

(15, 50)

In [53]:
# dictionaries 
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel": 80, "Tim": 95}

In [54]:
joels_grade = grades["Joel"]

In [55]:
joels_grade

80

In [56]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("No grade for Kate!")

No grade for Kate!

In [57]:
joels_grade = grades.get("Joel", 0)

In [58]:
joels_grade

80

In [60]:
joel_has_grade = "Joel" in grades
print(joel_has_grade)

True

In [62]:
grades["Tim"] = 99
grades["Kate"] = 100

In [63]:
num_students = len(grades)

In [64]:
#dictionaires 
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [65]:
#getting the keys of the tweet
tweet_keys = tweet.keys()
tweet_values = tweet.values()
tweet_items = tweet.items()

In [66]:
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [67]:
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [81]:
dd_list = defaultdict(list)
dd_list[2].append(1)
dd_list[2].append(4)

In [82]:
dd_list

defaultdict(list, {2: [1, 4]})

In [83]:
dd_dict  = defaultdict(dict)
dd_dict["Joel"]["City"] = "Seattle"
dd_pair = defaultdict(lambda: [0,0])
dd_pair[2][1] = 1

In [84]:
#using the counter
from collections import Counter
c = Counter([0,1,2,0])

In [85]:
c

Counter({0: 2, 1: 1, 2: 1})

In [89]:
#sets 
prime_below_10 = {2,3,5,7}
s = set()
s.add(1)
s.add(2)
s.add(3)
s.add(4)

In [90]:
x = len(s)

In [91]:
print(x)

4

In [92]:
print("Alessio Simoya")